.bgWrap {
  position: absolute;
  height: 80vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}

.bgWrapp {
  position: absolute;
  height: 68vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}

.bgText {
  /* margin: 0; */
  /* font-size: 2rem; */
  /* line-height: 3rem; */
  /* text-align: center; */
  padding-top: 20vh;
  /* text-shadow: 1px 1px 1px #3c5c5e; */
}

.perspective {
  perspective: 1000px;
}
.card {
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.is-flipped {
  transform: rotateY(180deg);
}
.front {
  backface-visibility: hidden;
}
.back {
  backface-visibility: hidden;
  transform: rotateY(180deg);
}